.Watches {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    padding:10px;
    // margin:10px;
    display: flex;
    width: 1570px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    border:1px solid rgb(190, 190, 190);
    box-sizing: border-box;
}

.Watches-filtertab {
    font-size: 20px;
    width: 300px;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: stretch;
    box-sizing: border-box;
    text-transform: uppercase;
    box-sizing: border-box;
}

.Watches-filtertab-showed {
  color:black;
  height: 40px;
}

.Watches-filtertab-hidden:active {
    font-size: 15px;
    display: visible;
    height: 80px;
}

.Watches-filtertab > div {
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 5px 1px #888888;
}
.Watches-filtertab > div:hover {
    box-shadow: 3px 5px 1px #0ecdbb;
    cursor: pointer;
}

.Watches-cards {
    flex-wrap: wrap;

    padding:0px;
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.Watches-singleCard {
    position: relative;
    color:black;
    text-decoration:none ;
    border:1px solid rgb(190, 190, 190);
    margin:5px;
    padding:10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.Watches-singleCard:hover {
    transform: scale(1.02);
    transition: all 300ms;
    box-shadow: 5px 10px 8px #888888;
}

.DetailWatch-information2 {
    position: relative;
}

.DetailWatch-information2 .Skills2 {
    position: relative;
    display: flex;
    margin: 0px;
    padding: 10px;
    width: 90%;
    background: linear-gradient(#616161 0%,#333 10%,#222);
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}

.DetailWatch-information2 .Skills2:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.1);
    z-index: 10;
}

.DetailWatch-information2 .Skills2 .Name2 {
    position: relative;
    text-align: right;
    color: white;
    margin-top: -2px;
    text-transform: uppercase;  

}

.DetailWatch-information2 .Skills2 .Value2 {
    position: relative;
    text-align: right;
    color: white;
    margin-top: -2px;
    text-transform: uppercase; 
}


.DetailWatch-information2 .Skills2 .Percent2 {
    position: relative;
    height: 20px;
    width: calc(100% - 150px);
    margin:0 10px;
    border-radius: 10px;
    background: #151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
    width: 150px;
}

.DetailWatch-information2 .Skills2 .Percent2 .Progress2 {
    position: absolute;
    top:0;
    left: 0;
  
    width: 70%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000;
    animation:animateProgress2 2s ease-in-out forwards;
    background: linear-gradient(45deg,#1fe6ff,#673AB7);
}

@keyframes animateProgress2
{
    from {
        width:0;
    }
}