@import './style/Navbar.scss';
@import './style/Slider.scss';
@import './style/News.scss';
@import './style/Home.scss';
@import './style/Shop.scss';
@import './style/DetailWatch.scss';
@import './style/Profile.scss';
@import './style/Best.scss';
@import './style/Footer.scss';
@import './style/LoginRegister.scss';
@import './style/Favorite.scss';
@import './style/Loader.scss';
@import './style/ShoppingCart.scss';
@import './style/WishList.scss';
// @import './style/ForumMainPage.scss';
// @import './style/ForumDetailPage.scss';
@import './style/ViewProfilePage.scss';

html {
    margin:0px;
    padding:0px;
}

body {
    margin:0px;
    padding:0px;
}